# {{project_name}}

{{description}}

## Setting up the environment

This project depends on [Python 2.7+ or 3.4+](https://www.python.org/).

Once you have installed Python for your environment, you
should also setup a [virtual environment](https://virtualenv.pypa.io/en/stable/)
with [pip](https://pip.pypa.io/en/stable/installing/).

Then, you should install the dependencies required by
the library as follows:

```
$ pip install -r requirements.txt
```

## Getting started

You can execute the library's tests as follows:

```
$ pytest tests
```
